#server:
#  port: 8888
#spring:
#  application:
#    name: api-gateway
#
#  zipkin:
#    base-url: http://192.1.1.101:9411/ #zipkin地址
#    discovery-client-enabled: true  #不用开启服务发现
#  sleuth:
#    sampler:
#      probability: 1.0 #采样百分比
#
#
#  cloud:
#    nacos:
#      discovery:
#        server-addr: 192.1.1.101:8848
#
#
#    gateway:
#      routes: #数组形式
#      - id: xdclass-order-service  #路由唯一标识
#        #uri: http://127.0.0.1:8000  #想要转发到的地址
#        uri: lb://xdclass-order-service  # 从nacos获取名称转发,lb是负载均衡轮训策略
#        predicates: #断言 配置哪个路径才转发
#          - Path=/xdclass-order-service/**
#        filters: #过滤器，请求在传递过程中通过过滤器修改
#          - StripPrefix=1 #去掉第一层前缀
#      discovery:
#        locator:
#          enabled: true  #开启网关拉取nacos的服务